{% extends 'base.html.twig' %}

{% block title %}
	<title>IDDEES : Nos partenaires</title>
{% endblock %}

{% block body %}
	<h2 class="h2-partenaires">Nos partenaires</h2>

	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis mollitia assumenda vel error doloremque molestiae maiores sapiente minus, blanditiis autem inventore delectus ducimus rem. Harum excepturi explicabo molestiae aut vel!</p>


	<h2 class="h2-partenaires">Nos partenaires financiers :</h2>
	<div class="partenaires">
		<div class="card-partenaire">
			<a class="card-link-partenaire" href="https://www.safran-group.com/fr">
				<div>
					<img src="{{ asset ('assets/img/safran-logo.png') }}" alt="logo-card-partenaire">
				</div>
				<div class="description-partenaire">
					<h3 class="h3-card-partenaire">Titre</h3>
					<p>Description succincte :
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam vel reiciendis quos labore commodi mollitia aspernatur! Consectetur in exercitationem illo laboriosam! Molestias quos officiis ipsum ad? Minus voluptate placeat eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aliquam quaerat maxime quasi ipsam eius, cupiditate consequuntur asperiores excepturi laborum unde rem cum exercitationem soluta delectus tempore voluptate. Sequi?</p>
				</div>
			</a>
		</div>
		<div class="card-partenaire">
			<a class="card-link-partenaire" href="https://www.safran-group.com/fr">
				<div>
					<img src="{{ asset ('assets/img/safran-logo.png') }}" alt="logo-card-partenaire">
				</div>
				<div class="description-partenaire">
					<h3 class="h3-card-partenaire">Titre</h3>
					<p>Description succincte :
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam vel reiciendis quos labore commodi mollitia aspernatur! Consectetur in exercitationem illo laboriosam! Molestias quos officiis ipsum ad? Minus voluptate placeat eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aliquam quaerat maxime quasi ipsam eius, cupiditate consequuntur asperiores excepturi laborum unde rem cum exercitationem soluta delectus tempore voluptate. Sequi?</p>
				</div>
			</a>
		</div>
		<div class="card-partenaire">
			<a class="card-link-partenaire" href="https://www.safran-group.com/fr">
				<div>
					<img src="{{ asset ('assets/img/safran-logo.png') }}" alt="logo-card-partenaire">
				</div>
				<div class="description-partenaire">
					<h3 class="h3-card-partenaire">Titre</h3>
					<p>Description succincte :
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam vel reiciendis quos labore commodi mollitia aspernatur! Consectetur in exercitationem illo laboriosam! Molestias quos officiis ipsum ad? Minus voluptate placeat eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aliquam quaerat maxime quasi ipsam eius, cupiditate consequuntur asperiores excepturi laborum unde rem cum exercitationem soluta delectus tempore voluptate. Sequi?</p>
				</div>
			</a>
		</div>
    </div>


		<a class="link-partenaires" href="https://www.quercycaussadais.fr/">
			<img src="#" alt="image temporaire">Communauté de commune du Quercy-Caussadais</a>
		<a class="link-partenaires" href="https://www.mairie-caussade.fr/">
			<img src="#" alt="image temporaire">Ville de Caussade</a>
		<a class="link-partenaires" href="https://www.ademe.fr/">
			<img src="#" alt="image temporaire">ADEME</a>
		<a class="link-partenaires" href="https://www.safran-group.com/"><img src="#" alt="image temporaire">SAFRAN</a>
		<a class="link-partenaires" href="https://occitanie.dreets.gouv.fr/"><img src="#" alt="image temporaire">Direction régionale de l'économie, de l'emploi, du travail et des solidarités</a>
		<a class="link-partenaires" href="https://www.vinci-energies.com/"><img src="#" alt="image temporaire">VINCI energies</a>
		<a class="link-partenaires" href="https://www.laregion.fr/"><img src="#" alt="image temporaire">Région Occitanie</a>
		<a class="link-partenaires" href="https://www.tarn-et-garonne.gouv.fr/"><img src="#" alt="image temporaire">Préfecture du Tarn-et-Garonne</a>
		<a class="link-partenaires" href="https://www.assemblee-nationale.fr/"><img src="#" alt="image temporaire">Assemblée Nationale</a>
		<a class="link-partenaires" href="https://www.justice.gouv.fr/"><img src="#" alt="image temporaire">Ministère de la Justice</a>
		<a class="link-partenaires" href="https://www.tarnetgaronne.fr/"><img src="#" alt="image temporaire">Conseil départemental du Tarn-et-Garonne</a>
		<a class="link-partenaires" href="https://informatique.msa.fr/"><img src="#" alt="image temporaire">Informatique de la MSA et de ses partenaires</a>
		<h2 class="h2-partenaires">Nos partenaires emplois :</h2>
		<a class="link-partenaires" href="https://www.pole-emploi.fr/accueil/"><img src="#" alt="image temporaire">Pôle emploi</a>
		<a class="link-partenaires" href="https://www.tarn-et-garonne.gouv.fr/"><img src="#" alt="image temporaire">Préfecture du Tarn-et-Garonne</a>
		<a class="link-partenaires" href="https://www.tarnetgaronne.fr/"><img src="#" alt="image temporaire">Conseil départemental du Tarn-et-Garonne</a>
		<h2 class="h2-partenaires">Nos partenaires travail :</h2>
		<a class="link-partenaires" href="https://www.quercycaussadais.fr/"><img src="#" alt="image temporaire">Communauté de commune du Quercy-Caussadais</a>
		<a class="link-partenaires" href="http://sieeom.sudquercy.fr/"><img src="#" alt="image temporaire">SIEEOM, Sud Quercy</a>
		<a class="link-partenaires" href="https://mairie-monteils.fr/fr/"><img src="#" alt="image temporaire">Ville de Monteils</a>
		<a class="link-partenaires" href="https://www.tourisme-quercy-caussadais.fr/la-destination/les-incontournables/le-parc-de-la-lere/"><img src="#" alt="image temporaire">Parc de la Lère</a>
		<h2 class="h2-partenaires">Nos partenaires réseaux :</h2>
		<a class="link-partenaires" href="http://www.coorace.org"><img src="#" alt="image temporaire">Réseau COORACE</a>
		<a class="link-partenaires" href="https://ressourceries.info/?PagePrincipale"><img src="#" alt="image temporaire">Réseau des Ressourceries</a>
	{% endblock %}
